<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script crossorigin src="lib/react.development.js"></script>
    <script crossorigin src="lib/react-dom.development.js"></script>
    <script crossorigin src="lib/react.production.min.js"></script>
    <script crossorigin src="lib/react-dom.production.min.js"></script>
    <script src="lib/babel.min.js"></script>
    <style>
        .mauvang{
            background-color: yellow;
        }
    </style>
    <title>Demo react</title>
</head>
<body>
    <h1>hello</h1>
    <div id="root"></div>
    <hr/>
    <div id="root2"></div>
    <script src="xuly.js" type="text/babel">
    </script>
</body>
</html>